body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-goldenrod: #e59a2a;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-31xl: 50px;
}
